.navbar {
  display: flex;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%; 
  z-index: 1000; 
  justify-content: space-between;
  align-items: center;
  background-color: white; 
  padding: 1rem 2rem;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1); 
}

.navbar {
  max-width: 1200px;  /* Limita el ancho máximo en pantallas grandes */
  margin: 0 auto;  
}

.nav-left {
  display: flex;
  align-items: center;
}

.logo-img {
  height: 40px; 
  width: auto; 
}

.nav-center {
  display: flex;
  align-items: center;
}

.nav-btn {
  background-color: #e87910; /* Color del botón */
  border: none;
  color: white;
  padding: 0.5rem 1rem;
  margin: 0 0.5rem;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.nav-btn:hover {
  background-color: #ffcc33; /* Color del botón al pasar el mouse */
}

.home-icon {
  font-size: 1.3rem;  
  padding: 0.2rem 0.2rem;
}

.search-bar {
  position: relative;
  display: flex;
  align-items: center;
}

.search-bar input {
  padding: 0.5rem 2.5rem 0.5rem 1rem; /* Espacio para la lupa */
  border: 1px solid #ccc; /* Borde gris claro */
  border-radius: 20px; /* Borde redondeado */
  outline: none;
  font-size: 1rem;
  background-color: #f9f9f9; /* Fondo del input */
  transition: border-color 0.3s ease;
}

.search-bar input:focus {
  border-color: #f4b400; /* Color del borde al hacer click */
}

.search-icon {
  position: absolute;
  right: 10px; /* Ubicación de la lupa dentro de la barra */
  font-size: 1.2rem;
  color: #888; /* Color de la lupa */
}

.nav-right {
  display: flex;
  align-items: center;
}

.nav-right .nav-btn:last-child {
  margin-right: 3rem; /* Ajusta el valor para más o menos espacio */
}

body {
  padding-top: 80px; 
}